// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

#products {
  margin: 10px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#addremove {
  button {
    font-size: 30px;
    margin: 10px;
  }
}

#product_form {
  gap: 10px;
  #baseinput, #typeinput>div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    #labels {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    #inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}