body {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#products {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  white-space: nowrap;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#addremove {
  button {
    font-size: 30px;
    margin: 10px;
  }
}

#product_form {
  gap: 10px;
  #baseinput, #typeinput>div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    #inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .input {
      display: flex;
      align-items: center;
      gap: 5px;
      justify-content: space-between;
    }
  }
}

input[type='checkbox'] {
  position: absolute;
  margin: 20px;
  transform : scale(1.5);
  top:0;
  left:0
}